<h2 *ngif="!productId" class="text-center m-5">Add a New Product</h2>
<h2 *ngif="productId" class="text-center m-5">Edit Product</h2>

<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
<div class="form-group">
    <label>Name</label>
    <input class="form-control" formControlName="name" />

    <div *ngIf="form.value.name.invalid && (form.value.name.dirty || form.value.name.touched)" class="alert alert-danger">
        <div *ngIf="form.value.name.errors?.['required']">
            Name is required.
        </div>
    </div> 
</div>
<div class="form-group">
    <label>Category</label>
    <input class="form-control" formControlName="category" />

    <div *ngIf="form.value.category.invalid && (form.value.category.dirty || form.value.category.touched)" class="alert alert-danger">
        <div *ngIf="form.value.category.errors?.['required']">
            Category is required.
        </div>
    </div> 
</div>
<div class="form-group">
    <label>Supplier</label>
    <select class="form-control" formControlName="supplier">
        <option *ngFor="let s of suppliers" [ngValue]="s">{{s.name}}</option>
    </select>

    <div *ngIf="form.value.supplier.invalid && (form.value.supplier.dirty || form.value.supplier.touched)" class="alert alert-danger">
        <div *ngIf="form.value.supplier.errors?.['required']">
            Supplier is required.
        </div>
    </div> 
</div>
<div class="form-group">
    <label>Description</label>
    <textarea class="form-control" formControlName="description"></textarea>
</div>
<div class="form-group">
    <label>Price</label>
    <input class="form-control" formControlName="price" />
</div>

<button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save</button>
</form>
